<div fxFlex="100%" fxLayout="column" fxLayoutAlign="space-around center">
  <button (click)="click()"></button>
  <div fxLayout="column" fxLayoutAlign=" center">
    <mat-label>ŚWIATŁO</mat-label>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="bold">ON</mat-button-toggle>
      <mat-button-toggle value="italic">OFF</mat-button-toggle>
      <mat-button-toggle value="underline">AUTO</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div fxLayout="column" fxLayoutAlign=" center">
    <mat-label>WODA</mat-label>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="bold">ON</mat-button-toggle>
      <mat-button-toggle value="italic">OFF</mat-button-toggle>
      <mat-button-toggle value="underline">AUTO</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div fxLayout="column" fxLayoutAlign=" center">
    <mat-label>WENTYLATOR</mat-label>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="bold">ON</mat-button-toggle>
      <mat-button-toggle value="italic">OFF</mat-button-toggle>
      <mat-button-toggle value="underline">AUTO</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

</div>
