<div fxLayout="row" fxFlex="100%" style="background: red" fxLayoutGap="15px">
  <div fxLayout="column" fxFlex="80%" fxLayoutGap="15px">
    <div fxFlex="60%" style="background: aqua">
      <app-graph fxFlex="100%"></app-graph>
<!--      <app-settings fxFlex="100%"></app-settings>-->
    </div>
    <div fxFlex="40%" style="background: blue">
      <app-log fxFlex="100%"></app-log>
    </div>
  </div>
  <div fxLayout="column" fxFlex="20%" fxLayoutGap="15px">
    <div fxFlex="30%" style="background: green">
      <app-actual-value fxFlex="100%"></app-actual-value>
    </div>
    <div fxFlex="70%" style="background: lightgreen">
      <app-actual-value-nucleo></app-actual-value-nucleo>
    </div>
  </div>
</div>
